@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 136, 169, 1);
}

.question_form_top{
    background-color: white;
    border-top: 8px solid black;
    border-radius: 8px;
    padding: 30px 25px;
    text-transform: capitalize;
}

.question_form_top_name {
    box-sizing: border-box;
    font-family: 'Google Sans', Roboto, Arial sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    line-height: 135%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #F4F4F9;
    color: black;
    height: 35px;
}