@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}
form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
}
#todo {
    margin: 0 auto;
    width: 500px;
}

#options {
    margin: 0 auto;
    width: 500px;
}

a.close {
  float: right;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color : white;
    opacity: 0.2; /* Firefox */
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

input[type="text"]
{
    font-size:24px;
}
.form-control1{
    width: 500 px;
    margin: 0 auto;
    padding-left: 600px;
}
